*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/artifacts
*.apk
*.jks
*.keystore
build_debug.ps1
build_debug.bat
copy_apk.ps1
setup_dirs.ps1
